

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
  }
  
[aos="fade"].aos-animate {
    opacity: 1;
  }

img {
  object-fit: cover;
}

/* .abt{
  color: linear-gradient(to right, gray 24%, white 20%, red 66%)
} */

.project{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  background-color: rgba(55, 60, 70, 0.533);
  box-shadow: 5px 5px 5px rgb(40, 44, 52, 0.5), -5px -5px 5px rgb(40, 44, 52);
}

.label{
  margin: 7rem 0px;
}

.label > a:hover{
  border-bottom: 1px solid white;
}

.contact-btn{
  padding: 14px 10px;
  height: 4rem;
  width: 9rem;
  margin: 1rem 1rem;
  float: left;
  border: 1px solid gray;
  font-size: 20px;
  transition: .3s ease-in;
}

.contact-act {
  display: flex;
}

.contact-btn:hover{
  background: linear-gradient(to right, gray 0%, rgb(40, 44, 52) 100%);
  transform: scale(1.02);
}



@media screen and (max-width: 768px) {
  #navContent{
    clip-path: circle(300px at 100% -10%);
    -webkit-clip-path: circle(300px at 90% -10%);
    transition: all 3s ease-out;
    background-color: rgba(43, 63, 99, 0.253);
    color: white;
    text-align: end;
    height: 100%;
  }

  #navContent.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  * {
    font-size: large;
  }
  #about{
    margin-top: 7em;
  }
}
@media screen and (max-width: 320px) {
  #about{
    margin-top: 4.2em;
  }

  .contact-btn{
    padding: 12px 8px;
    height: 4rem;
    width: 9rem;
  }

  .contact-btn:hover{
    background: linear-gradient(to right, gray 0%, rgb(40, 44, 52) 100%);
    transform: scale(1.01);
  }
}
#navContent > li > *:hover{
  border-bottom: 2px solid white;
  transition: .4s;
}


.static-abt{
  position: absolute;
  width: 40vw;
}